<div id="<%= dom_id member %>" class="jumbotron">

  <p class="lead">
    <strong class="font-weight-bold">First name:</strong>
    <%= member.first_name %>
  </p>
 
  <p class="lead">
    <strong class="font-weight-bold">Last name:</strong>
    <%= member.last_name %>
  </p>

  <p class="lead">
    <strong class="font-weight-bold">Email:</strong>
    <%= member.email %>
  </p>

  <p class="lead">
    <strong class="font-weight-bold">Phone:</strong>
    <%= member.phone %>
  </p>

  <p class="lead">
    <strong class="font-weight-bold">Twitter:</strong>
    <%= member.twitter %>
  </p>

</div>
